*{
    padding: 0;
    margin: 0;
}

/*Menú*/
.menu{
    box-shadow: 0 7px 5px #0088b6;
}

.btn-menu{
    font-size: 20px;
    font-weight: bold;
}

.item-margin{
    margin-top: 4px;
}

/*Sección 1*/
.jumbotron{
    margin-top: 78px;
}

.jumbotron h1{
    margin-left: 30px;
}

.card1{
    border: 2px solid black;
}

.card1:hover{
    box-shadow: 0 -5px 10px 0px black;
    cursor: pointer;
}

.card1 hr{
    margin-top: 10px;
    height: 4px;
    width: 70%;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left, red, blue, #23cbff);
    opacity: 1;
}

.card1 p{
    margin-top: 5px;
}

.boton1{
    font-weight: bold;
}

.boton1:hover{
    transform: translateY(5px);
    box-shadow: 0 -5px 10px 0px black;
    cursor: pointer;
}

.hotel_img{
    height: 150px;
    width: 220px;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
}

/*Footer*/
footer{
    background: #23cbff;
    padding: 10px 10px 10px 10px;
    margin-top: 25px;
}

address{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

address:hover{
    color: white;
    cursor:pointer;
}

.icon{
    padding-right: 10px;
}

a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}