.carta{
    position: relative;
    width: 550px;
    height: 400px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    margin: auto;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
    transition: 1s;
}
.carta:hover{
    transform: translateX(50%);
}
.carta .img1{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 1s;
    background: whitesmoke;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);  
}

.carta:hover .img1{
   transform: rotateY(-180deg); 
}
.carta .img1 img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.carta .img1 img:nth-child(2){
    transform: rotateY(180deg);
}
.carta .detalles{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}
