/*Botones*/
.boton1{
    font-weight: bold;
}

.boton1:hover{
    transform: translateY(5px);
    cursor: pointer;
}

.btn-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

/*Cards*/
.card1:hover{
    box-shadow: 0 -5px 10px 0px black;
    cursor: pointer;
}