@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

/*Menú*/
.menu {
  box-shadow: 0 7px 5px #00b618; }

.btn-menu {
  font-size: 20px;
  font-weight: bold; }

.item-margin {
  margin-top: 4px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

/*Sección 1*/
.jumbotron {
  margin-top: 78px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.jumbotron h1 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 30px; }

.card1 {
  border: 2px solid black; }

.card1:hover {
  box-shadow: 0 -5px 10px 0px black;
  cursor: pointer; }

.card1 hr {
  margin-top: 10px;
  height: 4px;
  width: 70%;
  margin: auto;
  border-style: none;
  background: -webkit-linear-gradient(left, red, blue, #23cbff);
  opacity: 1; }

.card1 p {
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.boton1 {
  font-weight: bold; }

.boton1:hover {
  transform: translateY(5px);
  box-shadow: 0 -5px 10px 0px black;
  cursor: pointer; }

.hotel_img {
  height: 150px;
  width: 220px;
  border-radius: 15px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px; }

/*Footer*/
footer {
  background: #00b618;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

address {
  color: black;
  font-size: 18px;
  font-weight: bold; }

address:hover {
  color: -webkit-linear-gradient(left, red, blue, #23cbff);
  cursor: pointer; }

.icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black; }
