$colorBlack: black;
$green: #00b618;
$red: red;
$yellow: yellow;
$gradient1: -webkit-linear-gradient(left, red, blue, #23cbff);

@mixin dim_boxShadow {
    box-shadow: 0 -5px 10px 0px $colorBlack;
}

@mixin margenes ($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin padding ($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

*{
    padding: 0;
    margin: 0;
}

/*Menú*/
.menu{
    box-shadow: 0 7px 5px $green;
}

.btn-menu{
    font-size: 20px;
    font-weight: bold;
}

.item-margin{
    @include margenes(4px,0,0,0);
}

/*Sección 1*/
.jumbotron{
    @include margenes(78px,0,0,0);
}

.jumbotron h1{
    @include margenes(0,0,0,30px);
}

.card1{
    border: 2px solid $colorBlack;
}

.card1:hover{
    @include dim_boxShadow();
    cursor: pointer;
}

.card1 hr{
    margin-top: 10px;
    height: 4px;
    width: 70%;
    margin: auto;
    border-style: none;
    background: $gradient1;
    opacity: 1;
}

.card1 p{
    @include margenes(5px,0,0,0);
}

.boton1{
    font-weight: bold;
}

.boton1:hover{
    transform: translateY(5px);
    @include dim_boxShadow();
    cursor: pointer;
}

.hotel_img{
    height: 150px;
    width: 220px;
    border-radius: 15px;
    @include padding(5px, 5px, 5px, 5px);
}

/*Footer*/
footer{
    background: $green;
    @include padding(10px, 10px, 10px, 10px);
    @include margenes(25px,0,0,0);
}

address{
    color: $colorBlack;
    font-size: 18px;
    font-weight: bold;
}

address:hover{
    color: $gradient1;
    cursor:pointer;
}

.icon{
    @include padding(0px, 10px, 0px, 0px);
}

a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: $colorBlack;
}